<div class="main-content">
  <div>
    <div class="header">
      <div>ROOT</div>
    </div>
    <div class="sub-header">
      My requests
    </div>
    <div class="requests-table">
		
      <div *ngFor="let request of requests" (click)="onSelect(request)" [ngClass]="{'active': selectedRequest._id === request._id}">
        <div>{{request.title}}</div>
		<div>{{request.name}}</div>
		<div [style.color]="request.getStatusColor()">{{request.status}}</div>
        <div>{{request.due | date:shortDate}}</div>
        <div>></div>
      </div>
    </div>
  </div>
  <div>
    <div></div>
	
    <request-details *ngIf="selectedRequest"
	 [request]="selectedRequest"
	 ></request-details>
  </div>
</div>
